<!-- footer.html -->
{% load static %}
<footer class="footer mt-5">
    <div class="container">
        <div class="row">
       <div class="col-lg-4">
        <div class="footer-logo">
            <img src="{% static 'images/Logo-01.png' %}"/>
        </div>
        <div class="footer-addr">
            <p>NTL Haulage SDN BHD (1244534-H)</p>
        </div>
        
       </div>
       <div class="col-lg-4">
        <div class="enquiry-title">
            <h4>Enquiry</h4>
        </div>
        <div class="enquiry">
            <ul class="enquiry-cnt">
                <li><i class="fa fa-phone"></i><span><a href="tel:+6075124426">+607 512 4426</a></span></li>
                <li><i class="fa fa-envelope"></i><span><a href="mailto:operation@naidutrans.com.my">operation@naidutrans.com.my&nbsp;</a></span></li>
                <li><i class="fa fa-facebook-f"></i><span><a href="https://www.facebook.com/transport.sdn">NaiduTrans Logistic</a></span></li>
            </ul>
        </div>
       </div>
       <div class="col-lg-4">
        <div class="links">
            <ul>
                <li><a href=""></a></li>
            </ul>
        </div>
       </div>
    </div>
    </div>
</footer>

