.header{
    position: relative;
    background-color: #fff;
    z-index: 5;
    padding: 20px;
    box-shadow: 0px 4px 9px #8b8787e8;
}
a.navbar-brand {
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
}
a.navbar-brand:hover {
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 4px 17px grey;
    transition: 0.5s;
}
.sticky {
    position: fixed;
    padding: 15px;
    box-shadow: 0px 4px 9px #8b8787e8;
    background-color: #fff !important;
}
.img-holder img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.carousel-inner.homeslider {
    height: 600px;
}
.footer {
    background-color: #000000d1;
    padding: 65px 10px;
    color: #fff;
}
.nav-link{
    color: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 500;
}
li.nav-item:hover {
    box-shadow: 2px 1px 3px grey;
}